<div class="p-4 space-y-4">
    <app-paiement-en-masse></app-paiement-en-masse>
    <app-resume-des-paiements></app-resume-des-paiements>
    
    <!-- Liste détaillée avec options de téléchargement et boutons d'action -->
    <div class="bg-white p-4 rounded shadow">
      <app-liste-detaillee-paiement-en-masse></app-liste-detaillee-paiement-en-masse>
      
      <div class="flex justify-between mt-4">
        <app-bouton-rejeter class="bg-red-500 text-white px-4 py-2 rounded-md cursor-pointer"></app-bouton-rejeter>
        <app-bouton-confirmer class="bg-green-500 text-white px-4 py-2 rounded-md cursor-pointer"></app-bouton-confirmer>
      </div>
    </div>
  </div>
  