<div class="flex h-screen bg-gray-100">
  <!-- Sidebar visible uniquement sur les écrans larges -->
  <app-sidebar class="flex-none"></app-sidebar>

  <!-- Contenu principal avec NavBar et router-outlet pour les routes -->
  <div class="flex-grow flex flex-col">
    <app-nav-bar></app-nav-bar>

    <!-- Zone de contenu principal où les composants de route s'afficheront -->
    <div class="flex-grow overflow-auto p-4 bg-gray-100">
      <!-- Zone du solde de compte -->
      <!-- <div class="w-full h-32 bg-sky-500 flex justify-center items-center rounded-lg shadow-md mb-4">
        <h2 class="text-white text-3xl font-semibold">Solde : 5000 €</h2>
      </div> -->

      <!-- Cartes bancaires disposées côte à côte avec styles responsives -->
      <div class="flex flex-wrap justify-center gap-6">
        <app-bank-card
            *ngFor="let card of cards"
            [type]="card.type === 'balance' || card.type === 'info' ? card.type : 'balance'"
            [bankName]="card.bankName"
            [balance]="card.balance ?? 0"
            [logoUrl]="card.logoUrl"
            [qrCodeUrl]="card.qrCodeUrl"
            [userName]="card.userName ?? ''">
        </app-bank-card>
        
      </div>
      <!-- Ajouter le composant des boutons d'action -->
      <div class="my-4 flex justify-end">
        <app-action-buttons
          (withdraw)="handleWithdraw()"
          (transfer)="handleTransfer()"
          (deposit)="handleDeposit()"
        ></app-action-buttons>
      </div>

      <!-- Boutons Précédent et Suivant visibles seulement en mobile -->
      <div class="carousel-buttons md:hidden flex justify-between mt-4">
        <button
          (click)="showPrevious()"
          [disabled]="currentIndex === 0"
          class="btn btn-sm bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none disabled:opacity-50"
        >
          Précédent
        </button>
        <button
          (click)="showNext()"
          [disabled]="currentIndex === cards.length - 1"
          class="btn btn-sm bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none disabled:opacity-50"
        >
          Suivant
        </button>
      </div>
      <hr class="my-6">

      <!-- Tableau stylisé pour afficher les transactions -->
      <div class="overflow-auto rounded-lg shadow-lg">
        <table class="min-w-full bg-white">
          <thead class="bg-sky-500 text-gray-600">
            <tr>
              <th class="py-3 px-4 text-left text-xs font-semibold uppercase">montant</th>
              <th class="py-3 px-4 text-left text-xs font-semibold uppercase">Destinataire</th>
              <th class="py-3 px-4 text-left text-xs font-semibold uppercase">agent</th>
              <th class="py-3 px-4 text-left text-xs font-semibold uppercase">expediteur</th>
              <th class="py-3 px-4 text-left text-xs font-semibold uppercase">Type</th>
            </tr>
          </thead>
          <tbody class="text-gray-700">
            <tr *ngFor="let transaction of transactions" class="border-b hover:bg-gray-100">
              <td class="py-3 px-4 text-xl">{{ transaction.montant }} F cfa</td>
              <td class="py-3 px-4 text-sm">{{ transaction.Destinataire }}</td>
              <td class="py-3 px-4 text-sm">{{ transaction.agent }}</td>
              <td class="py-3 px-4 text-sm">{{ transaction.expediteur }}</td>
              <td class="py-3 px-4 text-sm">{{ transaction.type }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Barre de navigation mobile, visible uniquement sur les petits écrans -->
  <app-mobile-navbar class="md:hidden"></app-mobile-navbar>
</div>
