<nav class="fixed bottom-0 left-0 right-0 bg-white py-3 shadow-lg">
    <div class="w-screen flex justify-around overflow-x-auto whitespace-nowrap ">
      
      
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-gift text-3xl"></i>
        <mat-icon class="text-green-500">account_circle</mat-icon>
        <span>Paiement en masse </span>
      </div>
      
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
        <mat-icon class="text-blue-500">receipt_long</mat-icon>
        <span>Factures</span>
      </div>

      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
         <mat-icon class="text-red-500">payments</mat-icon>
          <span>Transactions</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
        <mat-icon class="text-pink-500">analytics</mat-icon>
        <span>Rapports</span>
      </div>

      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
        <mat-icon class="text-indigo-500">account_balance</mat-icon>
          <span>Fonds</span>
      </div>

      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
         <mat-icon class="text-purple-700">contact_mail</mat-icon>
          <span>Contact</span>
      </div>

      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-building text-3xl"></i>
        <mat-icon class="text-yellow-400">settings</mat-icon>
          <span>Paramètres</span>
      </div>
    </div>
  </nav>