<nav class="fixed bottom-0 left-0 right-0 bg-white py-3 shadow-lg">
    <div class="w-screen flex justify-around overflow-x-auto whitespace-nowrap ">
      
      
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <span>Accueil</span>
      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-arrow-up-circle text-3xl"></i>
        <mat-icon class="text-sky-400">home</mat-icon>
        <a href="/accueil" routerLinkActive="text-blue-500">Accueil</a>
      </div>
      
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-gift text-3xl"></i>
        <mat-icon class="text-green-500">account_circle</mat-icon>
        <a href="/paiement-en-masse" routerLinkActive="text-green-500">Paiement en masse</a>

      </div>
      
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
        <mat-icon class="text-blue-500">receipt_long</mat-icon>
        <a href="/factures" routerLinkActive="text-blue-500">Factures</a>
      </div>

      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
         <mat-icon class="text-red-500">payments</mat-icon>
         <a href="/transactions" routerLinkActive="text-red-500">Transactions</a>

      </div>
      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
        <mat-icon class="text-pink-500">analytics</mat-icon>
        <a href="/rapports" routerLinkActive="text-pink-500">Rapports</a>

      </div>

      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
        <mat-icon class="text-indigo-500">account_balance</mat-icon>
        <a href="/fonds" routerLinkActive="text-indigo-500">Fonds</a>

      </div>

      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-credit-card text-3xl"></i>
         <mat-icon class="text-purple-700">contact_mail</mat-icon>
         <a href="/contact" routerLinkActive="text-purple-500">Contact</a>

      </div>

      <div class="flex flex-col items-center mx-4 text-black cursor-pointer">
        <i class="pi pi-building text-3xl"></i>
        <mat-icon class="text-yellow-400">settings</mat-icon>
        <a href="/parametres" routerLinkActive="text-yellow-500">Paramètres</a>
      </div>
    </div>
  </nav>